@page "/vehicles"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp8.Models
@using BlazorApp8.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorApp8.Data.BlazorApp8Context> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="vehicles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="filteredVehicles" Pagination="pagState">
    <PropertyColumn Property="vehicle => vehicle.Make" Sortable="true" />

    <PropertyColumn Property="vehicle => vehicle.Model" Sortable="true">
        <ColumnOptions>
            <input type="search" autofocus @bind="modelFilter" @bind:event="oninput" />
        </ColumnOptions>
    </PropertyColumn>

    <PropertyColumn Property="vehicle => vehicle.Year" />
    <PropertyColumn Property="vehicle => vehicle.LicensePlate" Title="License plate" />

    <TemplateColumn Context="vehicle">
        <a href="@($"vehicles/edit?id={vehicle.Id}")">Edit</a> |
        <a href="@($"vehicles/details?id={vehicle.Id}")">Details</a> |
        <a href="@($"vehicles/delete?id={vehicle.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagState" />

@code {
    private BlazorApp8Context context = default!;

    PaginationState pagState = new PaginationState() { ItemsPerPage = 5 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    string modelFilter = string.Empty;

    IQueryable<Vehicle> filteredVehicles => context.Vehicle.Where(v => v.Model.Contains(modelFilter));
}
